/* 6KVt CSS 
 Create by TM */


/* Обнуление стилей*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Начало стилей */
@font-face {
	font-family: Proxima Nova;
	scr: /*local("Proxima Nova"),
		 local("ProximaNova"),	*/
		 url(fonts/ProximaNova-Reg.otf) format("opentype");
}

@font-face {
	font-family: Proxima Nova;
	scr: /*local("Proxima Nova Bold"),
		 local("ProximaNova-Bold"),	*/
		 url(fonts/ProximaNova-Bold.otf) format("opentype");
	font-style: bold;
}

@font-face {
	font-family: Proxima Nova;
	scr: /*local("Proxima Nova Extrabold"),
		 local("ProximaNova-Extrabold"),	*/
		 url(fonts/ProximaNova-Xbold.otf) format("opentype");
	font-style: extrabold;
}

@font-face {
  font-family: Proxima Nova Light;
  src: url(fonts/ProximaNova-Light.otf);
  /* font-weight, font-style ==> �� ��������� normal */
}

@font-face {
  font-family: Proxima Nova;
  src: url(fonts/ProximaNova-Reg.otf);
  /* font-weight, font-style ==> �� ��������� normal */
}

@font-face {
  font-family: Proxima Nova Bold;
  src: url(fonts/ProximaNova-Bold.otf);
  font-style: bold;
}


body {
	margin: 0 auto 0 auto;
	min-width: 1115px;
	background-color: #f4f4f4;
	background-repeat: repeat-x;
	font-family: Proxima Nova;
	/*font-family: Proxima Nova, Tahoma, Helvetica, sans-serif;*/
	font-size: 16px;
	color: #FFFFFF;

}

h1, h2, h3 {
	text-transform: uppercase;
}

b, strong {
	font-family: Proxima Nova Bold;
}

a{
	color: #ff9001;
}

/*
table{
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px; 
	text-transform: uppercase; 
	border-collapse: collapse;
	color: #181818;
	border: 1px solid #2F3030;
}

td, tr{
	padding: 40px 40px;
	margin: 40px 40px;
	background-color: #FFFFFF;
	border: 1px solid #2F3030;
	text-align: center;
}
}

th{
	font-weight: none;
	border: 1px solid #2F3030;
}
*/

tr.title-table{
	background-color: #000000;
	font-size: 20px;
	text-transform: uppercase;
	color: #f8f8f8;
}

td.bg-table{
	background-color: #f8f8f8;
}

td.spacer-table1{
	background-image:url("../img/spacer-1.png");
	background-position: center center;
	background-repeat: no-repeat;
}

td.spacer-table2{
	background-image:url("../img/spacer-2.png");
	background-color: #f8f8f8;
	background-position: center center;
	background-repeat: no-repeat;
}

td.spacer-table3{
	background-image:url("../img/spacer-3.png");
	background-position: center center;
	background-repeat: no-repeat;
}

td.spacer-table3-bg{
	background-image:url("../img/spacer-3.png");
	background-color: #f8f8f8;
	background-position: center center;
	background-repeat: no-repeat;
}


th.main-title-table{
	background-color: #ffad13;
	font-size: 35px;
}



orange{
	color: #ffaa01;
}

#top{
	/*min-width: 1115px;*/
	height: 1027px;
	background-color: #0e1217;
	background-image: url("../img/bg-top.png");
	background-position: center top;
	background-repeat: no-repeat;
	top: 0;
	z-index: 5;
}

.top-main{
	width: 1172px;
	margin-right: auto;
	margin-left: auto;
}

.logo{

	height: 91px;
	width: 296px;
	margin-top: 29px;
	float: left;
	background-image: url("../img/logo.png");
	z-index: 100;
}

.phone{
	height: 48px;
	width: 250px;
	margin-top: 45px;
	float: right;
	background: url("../img/phone.png");
	background-repeat: no-repeat;
}

.phone a{
	margin-left: 30px;
	text-decoration: underline; 
	margin-top: 5px;
	display: block;
}

.phone b{
	margin: 30px;
	font-size: 25px; 
	font-weight: bold; 
	color: #ebebeb;
}

.title-button-top{
	margin-top: 222px;

}

.title-text{
	width: 663px;
	padding-top: 222px;
	font-size: 44px; 
	text-transform: uppercase; 
	color: #ebebeb;
	z-index: 3;
}

.gen{
	width: 1105px;
	height: 411px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/generators.png");
	background-repeat: no-repeat;
}

.button-top{
	height: 165px;
	width: 531px;
	margin: 70px auto 0 auto;
	padding-top: 30px; 
	background-image: url("../img/button-top.png");
	background-repeat: no-repeat;
	font-size: 17px; 
	text-transform: uppercase;
	color: #ff9001;
}

.button-top a{
	text-decoration: none;
}

.button-top b{
	margin: 0 0 0 90px;
}

.button-dill{
	height: 56px;
	width: 471px;
	padding-top: 32px;
	float: right;
	background-image: url("../img/button-dill.png");
	background-repeat: no-repeat;
	z-index: 4;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}
button:focus {outline:0;}
bitton {
	background: none;
	border: none;
}

/* comparison area */
#compare{
	height: 2767px;
	/*margin-top: -22px;*/
	z-index: 9;
}

#compare h1{
	margin-top: 100px;
	font-size: 34px;
	text-align: center;
	text-transform: uppercase; 
	color: #181818;
	font-weight: normal;
}
#compare > h1 {
	margin-bottom: 67px;
}

.generator-card {
	width: 570px;
	height: 385px;
	background: url('../img/generator-card.png');
	background-repeat: no-repeat;
	color: black;
	font-family: Proxima Nova;
	font-weight: bold;
	margin-bottom: 30px;
}
.generator-card > header {
	font-size: 22px;
	display: block;
	padding-top: 17px;
	height: 53px;
	width: 342px;
	padding-left: 20px;
}
.generator-description {
	font-size: 20px;
	left: 370px;
	width: 165px;
	height: 329px;
	margin-right: 35px;
	line-height: 28px;
	margin-top: 65px;
}

article td {
	vertical-align: top;
}
	
.generator-image {
	width: 369px;
	height: 329px;
	background: url('../img/УГД-6000E.png');
	background-repeat: no-repeat;
}
.УГД-6000E > .generator-image {
	background: url('../img/УГД-6000E.png');
	background-repeat: no-repeat;
}

.generators-cards-centered-block {
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	margin-bottom: 75px;
}

.middle-space {
	width: 30px;
}

.comparison-table {
	margin-left: auto;
	margin-right: auto;
}
.phase-one.gas > .comparison-table {
	width: 1030px;
	height: 1075px;
	background: url('../img/comparison-table-1-gas.jpg');
	background-repeat: no-repeat;
}
.phase-three.gas > .comparison-table {
	width: 1030px;
	height: 1185px;
	background: url('../img/comparison-table-3-gas.jpg');
	background-repeat: no-repeat;
}
.phase-one.diesel > .comparison-table {
	width: 1030px;
	height: 1074px;
	background: url('../img/comparison-table-1-diesel.jpg');
	background-repeat: no-repeat;
}
.phase-three.diesel > .comparison-table {
	width: 1030px;
	height: 1133px;
	background: url('../img/comparison-table-3-diesel.jpg');
	background-repeat: no-repeat;
}

.inventor-info {
	margin-top: 50px;
	color: #313131;
	width: 955px;
	font-size: 20px;
	line-height: 44px;
}
.inventor-info .ico {
	width: 44px;
	height: 44px;
	background: url('../img/inventor-info-icon.png');
	background-repeat: no-repeat;
	float: left;
	margin-right: 22px;
}

.closest-dealers {
	width: 468px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background: url('../img/comparison-area-closest-dealers.png');
	background-repeat: no-repeat;
	
	cursor: pointer;
	display: block;
	
	border: none;
}
.parameter-selector {
	width: 569px;
	height: 207px;
	background: url('../img/parameter-selector.png');
	background-repeat: no-repeat;
	color: #181818;
	font-size: 22px;
}
.parameter-selector header {
	color: #ff9000;
	font-size: 25px;
	font-weight: bold;
	height: 75px;
}
.parameter-selector header .selection-mask {
	margin-top: -89px;
	margin-left: 270px;
	width: 155px;
	height: 92px;
	background: url('../img/parameter-selector-selection-mask.png');
	background-repeat: no-repeat;
	
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: margin-left;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in;
    -webkit-transition-delay: 0.0s;
    /* Standard syntax */
    transition-property: margin-left;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0.0s;
}
.parameter-selector .selection-mask.phase-three, .parameter-selector .selection-mask.diesel {
	margin-left: 405px;
}
.parameter-selector header  strong {
	line-height: 75px;
	margin-left: 32px;
}
.parameter-selector header .phase, .parameter-selector header .fuel {
	font-size: 20px;
	font-weight: bold;
	background: none;
	border: none;
	cursor: pointer;
	
	line-height: 75px;
	margin-top: -75px;
	float: left;
	
	color: #fff;
	text-decoration: underline;
	
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in;
    -webkit-transition-delay: 0.1s;
    /* Standard syntax */
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
	
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: margin-top;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in;
    -webkit-transition-delay: 0.1s;
    /* Standard syntax */
    transition-property: margin-top;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}
.parameter-selector header .phase[selected], .parameter-selector header .fuel[selected],
.parameter-selector header .phase:hover, .parameter-selector header .fuel:hover {
	color: #000;
	text-decoration: none;
	margin-top: -83px;
	
}
	
.parameter-selector header .phase.unselected-for-time, .parameter-selector header .fuel.unselected-for-time {
	color: #fff;
	text-decoration: underline;
	margin-top: -75px;
}
	
.parameter-selector .phase:nth-of-type(1),.parameter-selector .fuel:nth-of-type(1) {
	margin-left: 305px;
}
.parameter-selector .phase:nth-of-type(2),.parameter-selector .fuel:nth-of-type(2) {
	margin-left: 440px;
}

.parameter-selector article {
	margin-left: 32px;
	margin-top: 27px;
	line-height: 27px;
}

/* comparison area end */

#advantage{
	height: 1370px;
	background-color: #ffffff;
}

.advantage-img{
	height: 907px;
	width: 1032px;
	background-image: url("../img/advantage.jpg");
	margin-right: auto;
	margin-left: auto;

}

#protect{
	height: 771px; 
}

.protect-img{
	height: 548px;
	width: 1151px;
	background-image: url("../img/protect.png");
	margin-right: auto;
	margin-left: auto;

}

#causes{
	height: 849px;
	background-color: #ffc530;
	background-image: url("../img/bg-causes.png");
	text-align: center;
	font-size: 24px;  
	color: #181818;
}

#causes h1{
	margin: 70px 0 0 0;
	font-size: 34px;
	text-transform: uppercase; 
	color: #181818;
}

#causes h3{
	margin: 70px 0 0 0;
	font-size: 22px;
	font-weight: bold; 
	color: #181818;

}

.causes-all{
	height: 593px;
	width: 1030px;
	padding-top: 108px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/causes-all.png");
	background-repeat: no-repeat;
}

.image-level1{
	height: 100px;
	width: 900px;
	margin: 100px auto 0;
	background-image: url("../img/7causes-1.png");
	background-repeat: no-repeat;
	background-position-x: 65px;
	
}

.image-level2{
	height: 100px;
	width: 1100px;
	margin: 100px auto 0;
	background-image: url("../img/7causes-2.png");
	background-repeat: no-repeat;
	font-weight: bold;
}

.image-level1 p, .image-level2 p{
	font-weight: bold;
	position: absolute;
	bottom:1;

}
.image-level1 p {
	margin-left: 65px;
}

#compare2{
	height: 2136px;
}

#company{
	height: 1020px;
	background-color: #FFFFFF;
}

.company-img{
	height: 868px;
	width: 1181px;
	background-image: url("../img/company.png");
	margin-right: auto;
	margin-left: auto;
}

#service{
	height: 396px;
}

.service-img{
	width: 1088px;
	height: 254px;
	background-image: url("../img/service-img.png");
	margin-right: auto;
	margin-left: auto;
}

.easy-service{
	margin-left:20%;
	float: left;
}

.info-service{
	margin-right:20%;
	float: right;
}

.easy-service h2, .info-service h2{
	font-size: 21px;
	color: #181818;
}

.easy-service p, .info-service p{
	padding-top: 10px;
	color: #181818;
}



#garanty{
	height: 230px;
	background-color: #1b2128;
	font-size: 20px;
	font-weight: normal; 
	color: #fff;
}

.garanty{
	width: 1172px;
	background-image: url("../img/garanty.png");
	background-repeat: no-repeat;
	background-position:  0% 47%;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}

.top-text-garanty{
	font-size: 24px; 
	text-transform: uppercase;
	color: #fff;
	
}
.text-garanty{
	font-weight: normal;
}

.text-garanty, .top-text-garanty{
	
	margin-left: 4%;
	padding: 15px;
}

#location{
	height: 119px;
	/*height: 716px;*/
	background-image: url("../img/map-small-bg.png");
	background-position: center center;
}

.map {
	width: 100%;
    height: 100%;
}

.map-space{
	height: 25px;
}

#location .button-dill{
	margin-left: auto;
	margin-right: auto;
	float: none;
}

#footer{
	height: 170px;
	background-color: #1b2128;
}

.footer-fix{
	width: 1172px;
	margin-right: auto;
	margin-left: auto;
}


.button-dill:hover {
    -webkit-filter: brightness(140%);
    filter: brightness(140%);
}

.button-dill:active {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
